#one{
    color: dodgerblue;
    font-size: 24px;
    text-align: justify;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 100px;
}
#two{
    width: 200px;
    height: 100px;
    opacity: 0.5;
}